# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, users and
# teams which are put in owners will be requested for review
# when someone opens a pull request.

# This is base configuration. These owners could review the
# whole file in this repository.
* @StackStorm-Exchange/tsc @floatingstatic

# CI configuration files should be reviewed by specific owners
# who are more responsible for ensuring the quality of this pack
# or orchestrate StackStorm-Exchanges.
.circleci/**  @StackStorm-Exchange/tsc
