---
html_table_style: "margin: 0; margin-left: 1.3em; margin-right: 1.3em; padding: 0; border-collapse: collapse; border-spacing: 0; border: 1px solid #CBCBCB; width: 100%; max-width: 400px; empty-cells: show;"
html_table_border: true

credentials:
  core:
    username: myuser
    password: mypassword
  customer:
    username: customeruser
    password: customerpw

devices:
- hostname: router1.lon
  driver: junos
  credentials: core
- hostname: router2.par
  driver: junos
  credentials: customer
