---
html_table_class: napalm
config_repo: https://github.com/StackStorm/vsrx-configs.git

credentials:
  core:
    username: myuser
    password: mypassword
  customer:
    username: customeruser
    password: customerpw
  access:
    username: ciscouser
    password: ciscopw
    secret: ciscoenable
  firewall:
    username: junos
    key_file: "/home/fwadmin/.ssh/id_rsa"


devices:
- hostname: router1.lon
  port: 22
  driver: junos
  credentials: core
- hostname: router2.par
  port: 22
  driver: junos
  credentials: customer
- hostname: router3.tok
  port: 22
  driver: ios
  credentials: access
- hostname: fw1.syd
  port: 22
  driver: junos
  credentials: firewall
